* { margin: 0; padding: 0; box-sizing: border-box; }

body { font: 13px Helvetica, Arial; }

#messageInput { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }

#messageInput > input { border: 0; padding: 10px; margin-right: .5%; }

#messageInput > button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

#messages { list-style-type: none; margin: 0; padding: 0; }

#messages li { padding: 5px 10px; }

#messages li:nth-child(odd) { background: #eee; }

#l {width:10%; margin-right: 0%;}

#m {width:79%;}

#messages {margin-bottom: 3.5em; width: 100%; }

#loginBody form input { border:0 ; padding: 10px; top:0; }

#loginBody form button { width: 10%; background: rgb(130, 224, 255); border: none; padding: 10px; }

#loginBody { border:3px; padding: 3px; width: 60%; 
	position : fixed;
	top: 45%;
	left : 25%;
}

#chatBody {display:none; }